<section id="Catalog" class="section">
    <div class="container catalog">
        <h2 class="catalog-title">Catalog</h2>
        <ul class="catalog-list">
                <li class="catalog-item catalog-item-border">
                    <div class="catalog-content">
                        <div>
                            <picture>
                                <source srcset="
                        /img/catalog/sapphire.png 1x,
                        /img/catalog/sapphire-desk@2x.png 2x" media="(min-width: 1280px)" />
                                <source srcset="
                        /img/catalog/sapphire-tab.png 1x,
                        /img/catalog/sapphire-tab@2x.png 2x" media="(min-width: 768px)" />
                                <source srcset="
                        /img/catalog/sapphire-mob.png 1x,
                        /img/catalog/sapphire-mob@2x.png 2x" media="(max-width: 767px)" />

                                <img src="/img/catalog/sapphire.png" alt="sapphire" />
                            </picture>
                        </div>
                        <div class="catalog-content-text">
                            <h3 class="catalog-subtitle point">Garmin Fenix 7X Pro Sapphire Solar</h3>
                            <p class="catalog-text">€500</p>
                        </div>
                    </div>
                </li>

                <li class="catalog-item catalog-item-border">
                    <div class="catalog-content">
                        <div>
                            <picture>
                                <source srcset="
                        /img/catalog/marq.png 1x,
                        /img/catalog/marq-desk@2x.png 2x" media="(min-width: 1280px)" />
                                <source srcset="
                        /img/catalog/marq-tab.png 1x,
                        /img/catalog/marq-tab@2x.png 2x" media="(min-width: 768px)" />
                                <source srcset="
                        /img/catalog/marq-mob.png 1x,
                        /img/catalog/marq-mob@2x.png 2x" media="(max-width: 767px)" />

                                <img src="/img/catalog/marq.png" alt="marq" />
                            </picture>
                        </div>
                        <div class="catalog-content-text">
                            <h3 class="catalog-subtitle point">Garmin Marq Athlete</h3>
                            <p class="catalog-text">€450</p>
                        </div>
                    </div>
                </li>

                <li class="catalog-item catalog-item-border">
                    <div class="catalog-content">
                        <div>
                            <picture>
                                <source srcset="
                        /img/catalog/descent.png 1x,
                        /img/catalog/descent-desk@2x.png 2x" media="(min-width: 1280px)" />
                                <source srcset="
                        /img/catalog/descent-tab.png 1x,
                        /img/catalog/descent-tab@2x.png 2x" media="(min-width: 768px)" />
                                <source srcset="
                        /img/catalog/descent-mob.png 1x,
                        /img/catalog/descent-mob@2x.png 2x" media="(max-width: 767px)" />

                                <img src="/img/catalog/descent.png" alt="descent" />
                            </picture>
                        </div>
                        <div class="catalog-content-text">
                            <h3 class="catalog-subtitle point">Garmin Descent MK1</h3>
                            <p class="catalog-text">€680</p>
                        </div>
                    </div>
                </li>

                <li class="catalog-item catalog-item-border">
                    <div class="catalog-content">
                        <div>
                            <picture>
                                <source srcset="
                        /img/catalog/delta.png 1x,
                        /img/catalog/delta-desk@2x.png 2x" media="(min-width: 1280px)" />
                                <source srcset="
                        /img/catalog/delta-tab.png 1x,
                        /img/catalog/delta-tab@2x.png 2x" media="(min-width: 768px)" />
                                <source srcset="
                        /img/catalog/delta-mob.png 1x,
                        /img/catalog/delta-mob@2x.png 2x" media="(max-width: 767px)" />

                                <img src="/img/catalog/delta.png" alt="delta" />
                            </picture>

                        </div>
                        <div class="catalog-content-text">
                            <h3 class="catalog-subtitle point">Garmin D2 Delta PX</h3>
                            <p class="catalog-text">€380</p>
                        </div>
                    </div>
                </li>

                <li class="catalog-item-none catalog-item-border-none">
                    <div class="catalog-content">
                        <div>
                            <picture>
                                <source srcset="
                        /img/catalog/solar.png 1x,
                        /img/catalog/solar-desk@2x.png 2x" media="(min-width: 1280px)" />
                                <source srcset="
                        /img/catalog/solar-tab.png 1x,
                        /img/catalog/solar-tab@2x.png 2x" media="(min-width: 768px)" />
                                <source srcset="
                        /img/catalog/solar-mob.png 1x,
                        /img/catalog/solar-mob@2x.png 2x" media="(max-width: 767px)" />

                                <img src="/img/catalog/solar.png" alt="solar" />
                            </picture>
                        </div>
                        <div class="catalog-content-text">
                            <h3 class="catalog-subtitle point">Garmin Fenix 6 Pro Solar</h3>
                            <p class="catalog-text">€400</p>
                        </div>
                    </div>
                </li>

                <li class="catalog-item-none catalog-item-border-none">
                    <div class="catalog-content">
                        <div>
                            <picture>
                                <source srcset="
                        /img/catalog/date.png 1x,
                        /img/catalog/date-desk@2x.png 2x" media="(min-width: 1280px)" />
                                <source srcset="
                        /img/catalog/date-tab.png 1x,
                        /img/catalog/date-tab@2x.png 2x" media="(min-width: 768px)" />
                                <source srcset="
                        /img/catalog/date-mob.png 1x,
                        /img/catalog/date-mob@2x.png 2x" media="(max-width: 767px)" />

                                <img src="/img/catalog/date.png" alt="date" />
                            </picture>
                        </div>
                        <div class="catalog-content-text">
                            <h3 class="catalog-subtitle point">Tube Watch S42 Date Steel With Black Case</h3>
                            <p class="catalog-text">€395</p>
                        </div>
                    </div>
                </li>
        </ul>

        <button class="catalog-button" type="button">
                Show more
        </button>

        
    </div>
</section>