<section id="Contact">
  <div class="container">
    <h2 class="title-contact-us">Contact Us</h2>
    <div class="contact-us">
      <form class="form-border">
        <p class="text-contact-us">
          Please use the form below to contact us. Enter your name, email,
          phone, and message and we'll get back to you shortly.
        </p>
        <div class="input">
          <input
            class="input-contacts"
            type="text"
            name="user-name"
            placeholder="Name"
          />
          <input
            class="input-contacts"
            type="text"
            name="user-email"
            placeholder="Email"
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
            id="Contact"
          />
          <input
            class="input-contacts"
            type="text"
            name="user-phone"
            placeholder="+380"
            pattern="^\+\d{3}-\d{2}-\d{3}-\d{2}-\d{2}$"
            id="Contact"
          />
          <textarea
            class="textarea"
            name="user-comment"
            placeholder="Comment"
            id="Contact"
          ></textarea>
        </div>
        <button class="button-send" type="submit">Send</button>
      </form>
      <div class="img-contact">
        <img
          srcset="
            /img/contact_us/Rectangle-mob.jpg   1x,
            /img/contact_us/Rectangle-mob2x.jpg 2x
          "
          src="/img/contact_us/Rectangle-mob.jpg"
          alt="clock"
          width="335"
          height="512"
          class="img-mob"
        />
        <img
          srcset="
            /img/contact_us/Rectangle-tab.jpg   1x,
            /img/contact_us/Rectangle-tab2x.jpg 2x
          "
          src="/img/contact_us/Rectangle-tab.jpg"
          alt="clock"
          width="704"
          height="556"
          class="img-tab"
        />
        <img
          srcset="
            /img/contact_us/Rectangle-desk.jpg   1x,
            /img/contact_us/Rectangle-desk2x.jpg 2x
          "
          src="/img/contact_us/Rectangle-desk.jpg"
          alt="clock"
          width="530"
          height="556"
          class="img-desk"
        />
      </div>
    </div>
  </div>
</section>
