<section>
  <div class="container">
    <div class="hero-container">
      <div class="hero-item">
        <h2 class="hero-title">
          Welcome to our <span class="hero-span">collection</span> of premium
          watches
        </h2>
        <p class="hero-text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="hero-photo-scroll">
        <div class="hero-photo">
          <ul class="hero-photo-item">
            <li class="mini-photo">
              <img
                src="/img/hero/Ellipse 21.svg"
                alt="Victoria Romashenko's photo"
              />
            </li>
            <li class="mini-photo">
              <img src="/img/hero/Ellipse 22.svg" alt="John Wax's photo" />
            </li>
            <li class="mini-photo">
              <img
                src="/img/hero/Ellipse 23.svg"
                alt="Anastasia Trachuk's photo"
              />
            </li>
          </ul>
          <a href="#Footer" class="hero-link">Scroll down</a>
        </div>
      </div>
    </div>
    <picture>
      <source
        srcset="
          /img/hero/Rectangle10-dt.jpg    1x,
          /img/hero/Rectangle10-dt-2x.jpg 2x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          /img/hero/Rectangle10-tab.jpg    1x,
          /img/hero/Rectangle10-tab-2x.jpg 2x
        "
        media="(min-width:768px)"
      />

      <img
        class="hero-img"
        srcset="
          /img/hero/Rectangle10-mob.jpg    1x,
          /img/hero/Rectangle10-mob-2x.jpg 2x
        "
        src="/img/hero/Rectangle10-mob.jpg"
        alt="watch"
      />
    </picture>
  </div>
</section>
