.catalog {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.catalog-title {
    text-align: left;
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
}

.catalog-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
}

.catalog-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.catalog-item {
    max-width: 335px;
    padding: 24px 28px;
}

.catalog-item-border {
    max-width: 335px;
    background: #f3f3f3;
    border: 1px solid rgba(12, 12, 12, 0.05);
    border-radius: 30px;
}

.catalog-item-none {
    max-width: 335px;
    padding: 24px 28px;
}

.catalog-item-border-none {
    display: none;
    background: #f3f3f3;
    border: 1px solid rgba(12, 12, 12, 0.05);
    border-radius: 30px;
}

.catalog-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}


.catalog-content-text {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
}

.catalog-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1, 25;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    text-align: left;
}

.point {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
}


.catalog-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.5);
    text-align: left;
}

.catalog-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 160px;
    height: 48px;
    border-radius: 16px;
    border: none;
    padding: 15px 44px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    background-color: #3350e9;
    color: #fbfbfb;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.catalog-button:hover,
.catalog-button:focus {
    background-color: #1f3cd4;
}


@media screen and (min-width: 768px) {

    .catalog {
        padding-top: 40px;
        padding-bottom: 40px;
        gap: 40px;
    }

    .catalog-title {
        text-align: left;
        font-weight: 600;
        font-size: 48px;
        line-height: 0.92;
        letter-spacing: -0.02em;
        color: #0c0c0c;
    }

    .catalog-list {
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px 16px;
        margin-bottom: 0;
    }

    .catalog-item {
        width: calc((100% - 16px) / 2);
        padding: 24px 32px;
    }

    .catalog-item-none {
        width: calc((100% - 16px) / 2);
        padding: 24px 32px;
    }

    .catalog-item-border-none {
        display: block;
        background: #f3f3f3;
        border: 1px solid rgba(12, 12, 12, 0.05);
        border-radius: 30px;
    }

    .catalog-subtitle {
        font-size: 20px;
        line-height: 1;
    }

    .catalog-button {
        display: none;
    }
}

@media screen and (min-width: 1280px) {

    .catalog {
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .catalog-title {
        text-align: left;
        font-weight: 600;
        font-size: 48px;
        line-height: 0.92;
        letter-spacing: -0.02em;
        color: #0c0c0c;
    }

    .catalog-list {
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px 23px;
        margin-bottom: 0;
    }

    .catalog-item {
        width: calc((100% - 46px) / 3);
        padding: 24px 32px;
    }

    .catalog-item-none {
        width: calc((100% - 46px) / 3);
        padding: 24px 32px;
    }

    .catalog-item-border-none {
        display: block;
        background: #f3f3f3;
        border: 1px solid rgba(12, 12, 12, 0.05);
        border-radius: 30px;
    }

    .catalog-subtitle {
        font-size: 20px;
        line-height: 1;
    }

    .catalog-button {
        display: none;
    }
}