/* mobile-menu */

.mob-menu {
  background-image: url(/img/mobile-menu/menu-mob.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: 0;
  right: -200px;
  width: 200px;
  height: 100vh;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .mob-menu {
    background-image: url(/img/mobile-menu/menu-mob-@2x.jpg);
  }
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(-200px);
}

.mob-menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-bottom: 40px;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.mob-nav {
  flex-grow: 1;
  padding-bottom: 20px;
}

.mob-nav-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;
  justify-content: center;
}

.mob-nav-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  color: #fbfbfb;
}

.mob-nav-item:first-child {
  position: relative;
  padding-bottom: 10px;
}

.mob-nav-item:first-child .mob-nav-link::after,
.nav-item:first-child .nav-link::after {
  content: '';
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  bottom: 0px;
  left: calc(50% - 4px);
  background-color: #3350e9;
}

.mob-soc-list {
  display: flex;
  gap: 10px;
}

.mob-soc-item {
  width: 34px;
  height: 34px;
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
}

.mob-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.mob-soc-icon {
  fill: rgba(251, 251, 251, 0.8);
}

@media screen and (min-width: 768px) {
  .mob-menu {
    background-image: url(/img/mobile-menu/menu-tab.jpg);
    right: -330px;
    width: 330px;
  }

  @media (webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .mob-menu {
      background-image: url(/img/mobile-menu/menu-tab-@2x.jpg);
    }
  }

  .is-open {
    transform: translateX(-330px);
  }

  .mob-menu-container {
    padding-bottom: 50px;
  }

  .close-btn {
    top: 26px;
    right: 32px;
  }

  .mob-nav {
    padding-bottom: 40px;
  }

  .mob-nav-list {
    gap: 32px;
  }

  .mob-soc-item {
    width: 36px;
    height: 36px;
  }

  .mob-soc-icon {
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .mob-menu {
    display: none;
  }
}
